{% extends 'web/base.html' %}
{% load static custom_filters thumbnail crispy_forms_tags humanize %}


{% block content %}

<div class="gray py-3">
	<div class="container-fluid">
		<div class="row">
			<div class="colxl-12 col-lg-12 col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Checkout</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>


<section class="middle">
	<div class="container">

		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="text-center d-block mb-5">
					<h2>Checkout</h2>
				</div>
			</div>
		</div>

		{% if cart_items %}

		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="row justify-content-between">

				<div class="col-12 col-lg-7 col-md-12">
					<h5 class="mb-4 ft-medium">Billing Details</h5>
					<div class="row mb-2">
						
						{% for err in form.non_field_errors %}
						<div class="col-12">
							<div class="alert alert-danger">
								{{err}}
							</div>
						</div>
						{% endfor %}

						{% if form.errorrs %}
						<div class="col-12">
							<div class="alert alert-danger">
								{{form.errors}}
							</div>
						</div>
						{% endif %}

						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							{{form.first_name|as_crispy_field}}
						</div>

						<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
							{{form.last_name|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.address_line_1|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.address_line_2|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.city|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.district|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.province|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.pincode|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.mobile|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.alternate_mobile|as_crispy_field}}
						</div>

						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							{{form.notes|as_crispy_field}}
						</div>

					</div>
				</div>

				<!-- Sidebar -->
				<div class="col-12 col-lg-4 col-md-12">
					<div class="d-block mb-3">
						<h5 class="mb-4">Order Items ({{cart_items|length}})</h5>
						<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x mb-4">
					
							{% for item in cart_items %}
							<li class="list-group-item">
								<div class="row align-items-center">
									<div class="col-3">
										<a href="{{item.product_option.product.get_absolute_url}}">
											<img src="{{item.product_option.product.image.medium.url}}" alt="..." class="img-fluid">
										</a>
									</div>
									<div class="col d-flex align-items-center">
										<div class="cart_single_caption pl-2">
											<h4 class="product_title fs-md ft-medium mb-2 lh-1">{{item.product_option.product.name}}</h4>
											<p class="mb-1 lh-1"><span class="text-dark">Size: {{item.product_option}}</span></p>
											<div class="d-flex flex-wrap mb-2">
												<p class="mb-1 lh-1 mr-3"><span class="text-dark">QTY: {{item.quantity}}</span></p>
												<p class="mb-1 lh-1"><span class="text-dark">Price: {{item.price|intcomma|get_currency:request.user}}</span></p>
											</div>
											<h4 class="fs-md ft-medium mb-3 lh-1">{{item.price|intcomma|get_currency:request.user}}</h4>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
					
						</ul>
					</div>

					<div class="card mb-4 gray">
						<div class="card-body p-4">
							<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
								<li class="list-group-item d-flex text-dark fs-sm ft-regular">
									<span>Subtotal</span> <span class="ml-auto text-dark ft-medium">{{order.subtotal|intcomma|get_currency:request.user}}</span>
								</li>
								<li class="list-group-item d-flex text-dark fs-sm ft-regular">
									<span>Shipping</span> <span class="ml-auto text-dark ft-medium">{{order.shipping|intcomma|get_currency:request.user}}</span>
								</li>
								<li class="list-group-item d-flex text-dark fs-sm ft-regular">
									<span>Total</span> <span class="ml-auto text-dark ft-medium">{{order.payable|intcomma|get_currency:request.user}}</span>
								</li>
							</ul>
						</div>
					</div>

					<button class="btn btn-block btn-dark mb-3" type="submit">Proceed to Payment</button>
				</div>

			</div>
		</form>

		{% else %}
		<div class="row">
			<div class="col-10 mx-auto text-center">
				<p>There is nothing in your cart to Checkout</p>
			</div>
		</div>
		{% endif %}
		

	</div>
</section>

{% endblock %}