{% extends 'web/base.html' %}
{% load static custom_filters humanize %}
{% load render_table from django_tables2 %}

{% block content %}


<section class="bg-cover pt-5 table_page">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="text-start">
					<h6 class="ft-medium mb-0">{{object.order_id}}</h6>
				</div>
			</div>
		</div>
	</div>

	
	<div class="container mt-4">


		<div class="row justify-content-between">

			<div class="col-12 col-lg-7 col-md-12">
				<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x mb-4">

					{% for item in object.get_items %}
					<li class="list-group-item">
						<div class="row align-items-center">
							<div class="col-3">
								<a href="{{item.product_option.product.get_absolute_url}}">
									<img src="{{item.product_option.product.image.small.url}}" alt="..."
										class="img-fluid">
								</a>
							</div>
							<div class="col d-flex align-items-center">
								<div class="cart_single_caption pl-2">
									<h4 class="product_title fs-md ft-medium mb-2 lh-1">
										{{item.product_option.product.name}}</h4>
									<div class="d-flex flex-wrap mb-2">
										<p class="mb-1 lh-1 mr-4"><span class="text-dark">Size: {{item.product_option}}</span></p>
										<p class="mb-1 lh-1 mr-4"><span class="text-dark">Price: {{item.price|intcomma|get_currency:request.user}}</span></p>
										<p class="mb-1 lh-1 mr-4"><span class="text-dark">QTY: {{item.quantity}}</span></p>
									</div>
									<h4 class="fs-md ft-medium mb-3 lh-1">{{item.price|intcomma|get_currency:request.user}}
									</h4>
								</div>
							</div>
						</div>
					</li>
					{% endfor %}

				</ul>

			</div>

			<div class="col-12 col-md-12 col-lg-4">
				<div class="card mb-4 gray">
					<div class="card-body p-4">
						<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>First Name</span> <span class="ml-auto text-dark ft-medium">{{object.first_name}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Last Name</span> <span class="ml-auto text-dark ft-medium">{{object.last_name}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Address Line 1</span> <span class="ml-auto text-dark ft-medium">{{object.address_line_1}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Address Line 2</span> <span class="ml-auto text-dark ft-medium">{{object.address_line_2}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>City</span> <span class="ml-auto text-dark ft-medium">{{object.city}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>District</span> <span class="ml-auto text-dark ft-medium">{{object.district}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Province</span> <span class="ml-auto text-dark ft-medium">{{object.province}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Pincode</span> <span class="ml-auto text-dark ft-medium">{{object.pincode}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Mobile</span> <span class="ml-auto text-dark ft-medium">{{object.mobile}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Alternate mobile</span> <span class="ml-auto text-dark ft-medium">{{object.alternate_mobile}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Notes</span> <span class="ml-auto text-dark ft-medium">{{object.notes}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Completed at</span> <span class="ml-auto text-dark ft-medium">{{object.completed_at}}</span>
							</li>

							
						</ul>
					</div>
				</div>

				<div class="card mb-4 gray">
					<div class="card-body p-4">
						<ul class="list-group list-group-sm list-group-flush-y list-group-flush-x">
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Subtotal</span> <span class="ml-auto text-dark ft-medium">{{object.subtotal|intcomma|get_currency:request.user}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Shipping</span> <span class="ml-auto text-dark ft-medium">{{object.shipping|intcomma|get_currency:request.user}}</span>
							</li>
							<li class="list-group-item d-flex text-dark fs-sm ft-regular">
								<span>Total</span> <span class="ml-auto text-dark ft-medium">{{object.total|intcomma|get_currency:request.user}}</span>
							</li>
						</ul>
					</div>
				</div>

			</div>

		</div>


	</div>
</section>

{% endblock %}