{% extends 'web/base.html' %}
{% load static custom_filters humanize %}
{% load render_table from django_tables2 %}

{% block content %}


<section class="bg-cover pt-5 table_page">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-6">
				<div class="text-start">
					<h6 class="ft-medium mb-0">{{title|upper}}</h6>
				</div>
			</div>
			<div class="col-6">
				<div class="text-right">
					<a href="{% url 'web:order_refresh' %}" class="btn btn-sm border">Refresh Orders</a>
				</div>
			</div>

		</div>
	</div>

	
	<div class="container mt-4">
		<div class="table-responsive">
			{% render_table table %}
		</div>
	</div>

</section>

{% endblock %}