{% load static thumbnail custom_filters humanize %}

<div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right" style="display:none;right:0;" id="Cart">
    <div class="rightMenu-scroll">
        <div class="d-flex align-items-center justify-content-between slide-head py-3 px-3">
            <h4 class="cart_heading fs-md mb-0">Your Cart</h4>
            <button onclick="closeCart()" class="close_slide"><i class="ti-close"></i></button>
        </div>
        <div class="right-ch-sideBar">

            {% if cart_items %}
            <div class="cart_select_items pt-2">
                {% for item in cart_items %}
                <div class="d-flex align-items-center justify-content-between br-bottom px-3 py-3 item_parent">
                    <div class="cart_single d-flex align-items-center">
                        <div class="cart_selected_single_thumb">
                            <a href="#"><img src="{{item.product_option.product.image.medium.url}}" width="60" class="img-fluid" alt="" /></a>
                        </div>
                        <div class="cart_single_caption pl-2">
                            <h4 class="product_title fs-sm ft-medium mb-2 lh-1">{{item.product_option.product.name}}</h4>
                            <span class="d-block text-dark small">SIZE: {{item.product_option}}</span>
                            <p class="mb-0">
                                <span class="text-dark small mr-3">
                                    {{item.price|intcomma|get_currency:request.user}} 
                                </span>
                                <span class="text-dark small">
                                    QTY: {{item.quantity}}N
                                </span>
                            </p>
                            <h6 class="fs-sm mb-0 lh-1">{{item.subtotal|intcomma|get_currency:request.user}}</h6>
                        </div>
                    </div>
                    <div class="fls_last">
                        {% csrf_token %}
                        <button class="close_slide gray cartitem_rmvbutton" data-url="{% url 'web:order_delete' item.pk %}">
                            <i class="ti-close"></i>
                        </button>
                    </div>
                </div>
                {% endfor %}

            </div>
            
            <div class="d-flex align-items-center justify-content-between br-top br-bottom px-3 py-3">
                <h6 class="mb-0">Subtotal</h6>
                <h3 class="mb-0 ft-medium"><span id="totalValue">{{order.total|intcomma|get_currency:request.user}}</span></h3>
            </div>
            
            <div class="cart_action px-3 py-3">
                <div class="form-group">
                    <a href="{% url 'web:cart' %}" class="btn d-block full-width btn-dark">Shopping Cart</a>
                </div>
            </div>
            {% else %}

            <div class="d-flex align-items-center justify-content-between px-3 py-3">
                <h6 class="mb-0">Cart is Empty</h6>
            </div>
            {% endif %}
            
        </div>
    </div>
</div>
